.boxContent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    flex-direction: column;
    padding: 5rem 0;

    span {
        color: #007eff;
        border: 2px solid #007eff;
        border-radius: 1rem 1rem 1rem 0rem;
        padding: .5rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .boxTitles {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Plus Jakarta Sans", sans-serif;
        text-align: center;
        margin: 0 .8rem;

        h3 {
            color: #000000;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 2rem;
        }

        h2 {
            color: #0084ff;
            text-transform: capitalize;
            font-weight: 800;
            font-size: 3.7rem;
        }

        img {
            position: relative;
            left: 16rem;
            bottom: 5rem;
        }

    }

    
    .boxLine {
        border: 1px solid #c8d4dd;
        width: 40%;
        margin-top: -2rem;
    }
    
    p {
        margin-top: 1rem;
        color: #000000;
    }

    @media (max-width: 459px) {
        .boxTitles {
            img {
                left: 10rem;
            }
        }

        .boxLine {
            width: 90%;
        }

        p {
            margin: 1rem;
            text-align: center;
        }
    }
}