.webinar {
    color: rgb(0, 126, 255);
    font-weight: 600;
    font-size: 2rem;
    margin-right: 1rem;
}

@media (max-width: 390px) {
    .frame {
        width: 100%;
    }
}

.boxIframe {
    iframe {
        height: 18.75rem;
        width: 100%;
    }
}

.boxDownloads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-top-width: 1px;

    @media (max-width: 580px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .spreadsheet {
        background-color: rgb(194, 244, 234);
    }

    .document {
        background-color: rgb(194, 230, 255);
    }

    .presentation {
        background-color: rgb(255, 248, 208);
    }
}