.webinar {
    color: rgb(0, 126, 255);
    font-weight: 600;
    font-size: 2rem;
    margin-right: 1rem;
}

.spreadsheet {
    background-color: rgb(194, 244, 234);
}

.document {
    background-color: rgb(194, 230, 255);
}

.presentation {
    background-color: rgb(255, 248, 208);
}